/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.blu-button{
    background-color: #0061FF;
    color: white;
}

.white-button{
    background-color: white;
}

/* 
    DEBUG
*/






/* 
    HEADER
*/

/*HEADER-TOP*/

.header-top{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.header-top-col{
    margin-left: 20px;
    margin-right: 20px;
}

.header-top .header-top-col img{
    vertical-align: middle;
}

.header-top .header-top-col a{
    text-decoration: none;
    color: black;
    padding: 0 30px;
    vertical-align: middle;
}

.header-top .header-top-col button{
    padding: 7px 16px;
    vertical-align: middle;
    font-size: 16px;
}







/*HEADER-BOTTOM*/


.header-bottom{
    background-color: #B4D0E7;
}

.header-bottom-row{
    display: flex;
}

.header-bottom-title{
    text-align: left;
    font-size: 2.4em;
    padding-bottom: 50px;
    padding-top: 20px;
}

.header-bottom-col-1{
    width: calc(100% / 3);
}

.header-bottom-col-1 button{
    margin-top: 20px;
    padding: 10px 10px;
}

.header-bottom-col-1 div{
    margin-top: 20px;
}

.header-bottom-col-1 div i{
    font-size: 3em;
    margin-top: 50px;
}

.header-bottom-col-2{
    width: calc((100% / 3)* 2);
    
}

.header-bottom-col-2 img{
    width: 100%;
    
}












/* 
    MAIN
*/

/*SECTION-1*/



/*SECTION-2*/



/*SECTION-3*/


/*SECTION-4*/



/*SECTION-5*/








/* 
    FOOTER
*/
