/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.blu-button{
    background-color: blue;
    color: white;
}

.white-button{
    background-color: white;
}

/* 
    DEBUG
*/
.debug, .header-top{
    height: 80px;
    background-color: lightcoral;
}





/* 
    HEADER
*/

/*HEADER-TOP*/

.header-top{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}







/*HEADER-BOTTOM*/


.header-bottom{
    background-color: #B4D0E7;
}

.header-bottom-row{
    display: flex;
}












/* 
    MAIN
*/

/*SECTION-1*/



/*SECTION-2*/



/*SECTION-3*/


/*SECTION-4*/



/*SECTION-5*/








/* 
    FOOTER
*/
