/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.blu-button{
    background-color: #0061FF;
    color: white;
}

.white-button{
    background-color: white;
    color: black;
    border: solid 2px black;
}

/* 
    DEBUG
*/






/* 
    HEADER
*/

/*HEADER-TOP*/

.header-top{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-top-col{
    margin-left: 20px;
    margin-right: 20px;
}

.header-top .header-top-col img{
    vertical-align: middle;
}

.header-top .header-top-col a{
    text-decoration: none;
    color: black;
    padding: 0 30px;
    vertical-align: middle;
}

.header-top .header-top-col button{
    padding: 7px 16px;
    vertical-align: middle;
    font-size: 16px;
}







/*HEADER-BOTTOM*/


.header-bottom{
    background-color: #B4D0E7;
}

.jumbotron{
    position: relative;
    top: 75px;
}

.header-bottom-row{
    display: flex;
}

.header-bottom-title{
    text-align: left;
    font-size: 2.4em;
    padding-bottom: 50px;
    padding-top: 70px;
}

.header-bottom-col-1{
    width: calc(100% / 3);
    padding-right: 50px;
}

.header-bottom-col-1 button{
    margin-top: 20px;
    padding: 10px 10px;
}

.header-bottom-col-1 div{
    margin-top: 20px;
}

.header-bottom-col-1 div i{
    font-size: 3em;
    margin-top: 100px;
}

.header-bottom-col-2{
    width: calc((100% / 3)* 2);
    
}

.header-bottom-col-2 img{
    width: 100%;
    
}


/* 
    MAIN
*/

/*SECTION-1*/


.price-section-title{
    margin-top: 100px;
    font-size: 1.5em;
}

.price-section-invoice{
    display: flex;

}

.selection-button{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid blue 5px;
    display: inline-block;
    vertical-align: middle;
}

.selection-title{
    vertical-align: middle;
}


.price-section-invoice-1{
    margin-top: 30px;
    padding-right: 20px;

}

.price-section-invoice-2{
    margin-top: 30px;

}

.price-section-invoice-2 .selection-button{
    border: solid 2px black;
}





.price-section{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.price-section-col{
    margin-top: 50px;
    border: 2px solid black;
    width: 30%;
    
}

.price-section-col-full{
    margin-top: 50px;
    border: 2px solid black;
    width: 100%;
    position: relative;
    
}

.price-section-col-header{
    border-bottom: solid 2px black;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.price-section-col-main{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    line-height: 30px;
}

.price-section-col-main ul{
    margin-top: 50px;
    margin-bottom: 30px;

}


.price-section-col-main ul li{
    list-style: none;
    margin-top: 20px;
    line-height: 20px;
    display: flex;

    
}

.price-section-col-main ul li i{
    padding-right: 5px;
}

.trial-button{
    margin-top: 40px;
    text-align: center;
}

.trial-button .blu-button{
    padding: 10px 42px;

}

.price-link{
    margin-top: 20px;
}

.price-section-col-main hr{
    margin-top: 20px;
    max-width: 20%;
    
}

.price-bottom-list h4{
    margin-top: 30px;
}

.price-bottom-list ul li{
    list-style-type: none;
    display: flex;

}

.price-section-col-full .price-section-col-main .trial-button .blu-button{
    position: absolute;
    top: 60px;
    right: 20px;
}


/*SECTION-2*/

.partner-section{
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
}

.partner-section-left{
    width: 60%;
}

.partner-section-left img{
    width: 100%;
    
}

.partner-section-right{
    width: 40%;
    padding-left: 40px;
    padding-right: 67px;
    padding-top: 50px;
    
}

.partner-section-right h3{
    padding-bottom: 25px;
}

.partner-section-right p{
    padding-bottom: 25px;
}

.partner-section-right .white-button{
    padding: 10px 30px;
    font-size: 1.2em;

}


/*SECTION-3*/

.business-section-title{
    font-size: 1.5em;

}


.business-section-top{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.business-section-top-col{
    margin-top: 30px;
    width: calc((100% / 3));
    
    padding-right: 48px;
}

.business-section-top-col img{
    width: 100%;

}

.business-section-top-col h3{
    padding-top: 15px;
}

.business-section-top-col p{
    padding-top: 25px;
}



.business-section-bottom{
    margin-bottom: 100px;

}

.business-section-bottom-title{
    font-size: 1.5em;
    margin-bottom: 50px;
    padding-right: 340px;
}


/*SECTION-4*/

.brand-section-top{
    display: flex;
}

.brand-section-top-col{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
}

.brand-section-top-col-small-1{
    width: 50%;
    height: 50%;
    background-color: rgb(116, 228, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brand-section-top-col-small-1 img{ 
    width: 50%; 
    filter: invert(1);
    
}



.brand-section-top-col-small-2{
    width: 50%;
    height: 50%;
    background-color: rgb(119, 38, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brand-section-top-col-small-2 img{ 
    width: 50%; 
    filter: invert(1);
    
}



.brand-section-top-col-small-3{
    width: 50%;
    height: 50%;
    background-color: rgb(62, 186, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brand-section-top-col-small-3 img{ 
    width: 50%; 
    filter: invert(1);
    
}



.brand-section-top-col-small-4{
    width: 50%;
    height: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brand-section-top-col-small-4 img{ 
    width: 50%; 
    filter: invert(1);
    
}



.brand-section-top-col-small-5{
    width: 50%;
    height: 50%;
    background-color: rgb(170, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brand-section-top-col-small-5 img{ 
    width: 50%; 
    filter: invert(1);
    
}




.brand-section-top-col-small-6{
    width: 50%;
    height: 50%;
    background-color: rgb(153, 217, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brand-section-top-col-small-6 img{ 
    width: 50%; 
    filter: invert(1);
    
}



.brand-section-top-col-small-7{
    width: 50%;
    height: 50%;
    background-color: rgb(12, 14, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brand-section-top-col-small-7 img{ 
    width: 50%; 
    filter: invert(1);
    
}



.brand-section-top-col-small-8{
    width: 50%;
    height: 50%;
    background-color: rgb(213, 216, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brand-section-top-col-small-8 img{ 
    width: 50%; 
    filter: invert(1);
    
}


.brand-section-top-central-col{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.brand-section-top-central-col img{
    width: 50%;
    padding-bottom: 50px;
    
}


.brand-section-top-central-col hr{
    width: 25%;
    margin-bottom: 50px;
    
}


.brand-section-top-central-col:first-child p{
    padding-bottom: 50px;
    
}



.brand-section-bottom{
    background-color: #B4D0E7;
}

.brand-section-bottom-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 50px;
    
    
}

.brand-section-bottom-col-1{
    width: 70%;
    font-size: 1.5em;
    padding-right: 150px; 
    
}

.brand-section-bottom-col-1 h2{
    color: purple;
    
}

.brand-section-bottom-col-2{
    width: 30%;
    
    
}


.brand-section-bottom-col-2 .white-button{
    padding: 10px 20px;
    
}

/*SECTION-5*/


.questions-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.questions-section div h3{
    padding-bottom: 50px;
    font-size: 2em;
}


.question-section-row{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.question-section-row i{
    padding-right: 30px;
}


/* 
    FOOTER
*/


footer{
    background-color: black;
}

.footer-top{
    display: flex;
    
    
}

.footer-top-col{
    width: calc(100% / 5);
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
}

.footer-top-col h3{
    padding-bottom: 20px;
}

.footer-top-col a{
    text-decoration: none;
    color: white;
    display: block;
    padding-bottom: 15px;
}



.footer-bottom{
    width: calc(100% / 5);
}


.footer-bottom-col hr{
    width: 50%;
}



.footer-bottom-col div{
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-bottom-col div i{
    padding-right: 5px;
}






















